# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual env
.venv/
venv/
env/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django
*.sqlite3
staticfiles/

# Docker
pgdata/

# Coverage
htmlcov/
.coverage
.coverage.*

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# pytest
.pytest_cache/
